/* Ensure the background color of the body is applied */
body {
    background: #eceff1!important;
}

/* Apply styles to active page links in the pagination */
.page-item.active .page-link {
    background-color: #121212!important;
    border-color: #121212!important;
}
.container-fluid{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
#image{
    width: 50%;
    height: 50%;
    padding: 0 px;
    margin: 0 px;
}
